@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  min-width: 55em;
  max-width: 90%;
  padding: 1em;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 0 0 10px 10px;
}

form input {
  padding: 1em;
  width: 30em;
  margin: 0 auto;
}

form label {
  font-weight: bold;
  margin: 0 auto;
}

form button {
  padding: 1em;
  width: 30em;
  margin: 0 auto;
  margin-bottom: 2em;
}

form h2 {
  margin: 0 auto;
  padding: 1em;
}

header {
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: rgb(248, 244, 238);
  padding: 1em;
  max-width: 90%;
  width: 55em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

header nav {
  margin-left: auto;
}

nav a {
  font-size: 17px;
  margin-right: 0.5em;
  text-decoration: none;
  color: black;
}

nav a:hover {
  opacity: 0.5;
}

.employee-container {
  background-color: rgb(248, 244, 238);
  width: 20em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  width: 55em;
  padding: 1em;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 0 0 10px 10px;
  padding: 1em;
}

.employee-container a {
  text-decoration: none;
  color: #000;
}

.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1em;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.employee:hover {
  opacity: 0.8;
  cursor: pointer;
}

.employee:active {
  opacity: 1;
  cursor: pointer;
}

.employee-position {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: rgb(248, 244, 238);
  padding: 0.5em 1em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 75%;
  margin: 0 auto;
}

.employee-id {
  display: flex;
  flex-direction: column;
}

.employee-id h4,
.employee-contact h4 {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.employee-id p,
.employee-contact p {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.profile-pic i {
  font-size: 3em;
  padding: 0.5em;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 50%;
  width: 6em;
  height: 6em;
  margin: 0 auto;
}

.employee-details-container {
  display: flex;
  background-color: rgb(248, 244, 238);
  width: 20em;
  width: 55em;
  padding: 1em;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 0 0 10px 10px;
  padding: 1em;
  gap: 1em;
}

.employee-details {
  flex: 1;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.employee-additional-details {
  flex: 2;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.employee-operations {
  margin-top: auto;
  margin-bottom: 2em;
}

.employee-operations a {
  color: inherit; /* Inherits color from parent element */
  text-decoration: none; /* Removes underline */
  font: inherit; /* Inherits font properties */
  background-color: rgb(248, 244, 238);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5em 1em;
  margin-right: 1em;
}

.employee-details-email {
  margin-top: 2sem;
  margin-right: auto;
}
